<mat-toolbar class="navbar" style="background: transparent;">
   <span class='logo'> <img src="../../../assets/images/logo.svg" height=25 alt=""></span>
    <span><a mat-button>Home</a>
    <a mat-button>Services</a></span>
    <div id="nav-search">
    <form class="searchbar">
        <input type='text' placeholder="Search">
        <button mat-icon-button class="search-icon">
            <mat-icon cap>search</mat-icon>
          </button>
    </form>
  </div>
    <div class="spacer"></div>
    <button class="right-button cart-button" style="padding-left: 10px; padding-right: 65px; background-color:#548CA8;  border-radius:20px; " mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
        <span> Cart </span>
      </button>
      <button class="right-button wishlist-button" style="padding-left: 10px; padding-right: 87px;   border-radius: 20px" mat-icon-button>
        <span style="padding-right: 5px;">Wishlist</span>
        <mat-icon>favorite</mat-icon>
      </button>
      <button class="right-button" [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon class="account-settings">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Signup</span>
        </button>
        <button mat-menu-item >
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

</mat-toolbar>