<mat-card class="footer-card">
    <mat-card-content>
        <div>
            <h2>Policies</h2>
            <mat-list>
                <mat-list-item>Terms Of Use</mat-list-item>
                <mat-list-item>Privacy Policy</mat-list-item>
            </mat-list>
        </div>
        <div>
            <h2>Shop</h2>
            <mat-list>
                <mat-list-item>Category 1</mat-list-item>
                <mat-list-item>Category 2</mat-list-item>
                <mat-list-item>Category 3</mat-list-item>
                <mat-list-item>Category 4</mat-list-item>
            </mat-list>
        </div>
        <div>
            <h2>Need Help?</h2>
            <mat-list>
                <mat-list-item>FAQs</mat-list-item>
                <mat-list-item>Contact Us</mat-list-item>
            </mat-list>
        </div>
        <div>
            <h2>Company</h2>
            <mat-list>
                <mat-list-item>About Us</mat-list-item>
                <mat-list-item>Our Values</mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div class="footer-logo">
        <img src="../../../../assets/images/logo-footer.svg"/>
        <span>© 2020 | All rights reserved</span>
    </div>
</mat-card>
