mat-divider{
    border-top-color: white;
}


.footer-card{
    padding: 3rem;
    width: screen;
    color: white;
    background-color: #282626;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        margin-top: 1rem;
    }
}