<div class="navbar">
  <mat-icon class="menu">menu</mat-icon>
  <mat-toolbar style="background: transparent;">
    <span> <img src="../../../assets/images/navbarlogo.svg" height=35 alt="logo"></span>
    
 
     <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
     <form class="searchbar">
         <input type='text' placeholder="Search">
         <button mat-icon-button class="search-icon">
             <mat-icon cap>search</mat-icon>
           </button>
     </form>
     <button class="primary-button"  mat-button routerLink="/cart">
         <mat-icon>shopping_cart</mat-icon>
         <span class="l-hide"> Cart </span>
     </button>
       <button class="secondary-button" mat-button routerLink="/wishlist">
         <span class="l-hide">Wishlist</span>
         <mat-icon>favorite</mat-icon>
       </button>
       <button routerLink="/login">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
       <button class="right-button" [matMenuTriggerFor]="menu" mat-icon-button>
         <mat-icon class="account-settings">person</mat-icon>
       </button>
       <mat-menu #menu="matMenu">
         <ng-container *ngIf=""></ng-container>
         <button mat-menu-item routerLink="/signup">
           <mat-icon>person</mat-icon>
           <span>Signup</span>
         </button>
         
         <button mat-menu-item routerLink="/login">
           <mat-icon>login</mat-icon>
           <span>Login</span>
         </button>
       </mat-menu>
 
 </mat-toolbar>
</div>
