<div class="container"><mat-card>
<mat-card-title><img src="../../../../assets/images/logo.svg" alt=""></mat-card-title><br>
<mat-card-content>
<form class='signup-card'  action="">
    <p>
   <mat-form-field  appearance = 'outline'>
        <mat-label>Email</mat-label>
        <input  matInput type="email">
    </mat-form-field>
    </p>    
    <p>
    <mat-form-field appearance = 'outline'>
        <mat-label>Password</mat-label>
        <input matInput type="password">
        </mat-form-field></p>
    <p>
    <mat-form-field appearance = 'outline'>
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password">
    </mat-form-field>
    </p>
    <button mat-raised-button style="margin-right:5px;">Sign Up</button>
</form>
</mat-card-content>
<mat-card-footer><p class="login-instead">Already have an account? <a href=""> Log in instead</a></p></mat-card-footer>
</mat-card>

</div>

