
<ng-container *ngIf="isInput; then thenBlock3; else elseBlock3;">
</ng-container>
<ng-template #elseBlock3>
    <ng-container *ngFor='let in of counter(5) ;let i = index'>
        <span class="stars">
            <ng-container *ngIf="stars -i <= 0; then thenBlock; else elseBlock;"></ng-container>
            <ng-template #thenBlock><mat-icon >star_border</mat-icon></ng-template>
            <ng-template #elseBlock>
                <ng-container *ngIf="stars -i == 1/2;then thenBlock2; else elseBlock2;"></ng-container>
                <ng-template #thenBlock2><mat-icon  >star_half</mat-icon></ng-template>
                <ng-template #elseBlock2><mat-icon  >star</mat-icon></ng-template>
            </ng-template>
        </span>
    </ng-container>
</ng-template>
<ng-template #thenBlock3 ></ng-template>


