<app-navbar></app-navbar>
<div class="cart">
    <div class="cart-header">
        <span class="cart-heading">Your Cart<mat-icon>shopping_cart_border</mat-icon></span>
        <div class="total sm-hide">Your Total : <span>₹ {{getTotal()}}</span></div>
        <button mat-raised-button class="secondary-button sm-hide" routerLink="/checkout">Checkout</button>
    </div>
    <div *ngFor="let cartItem of cartData">
        <mat-card class="cart-card">
            <img mat-card-xl-image class="product-image" src="../../../../assets/images/background2.png" alt="product">
            <div class="product-info">
                <mat-card-title>{{cartItem.product.productName}}</mat-card-title>
                <mat-card-subtitle>
                    <h3>{{cartItem.product.description}}</h3>
                    <stars [stars]="cartItem.product.stars"></stars>
                </mat-card-subtitle>
                <mat-divider [inset]="true"></mat-divider>
                <div class="section">
                    <div>Today's Deal :
                        <span class="striked">₹ {{cartItem.product.originalPrice}}</span>
                        <span class="red-text">₹ {{cartItem.product.discountedPrice}}</span>
                    </div>
                    <mat-card class="quantity-controller">
                        <mat-icon (click)="increaseQuant()">arrow_drop_up</mat-icon>
                        <mat-divider [vertical]="true"></mat-divider>
                        <span class="red-text">{{quant}}</span>
                        <mat-divider [vertical]="true"></mat-divider>
                        <mat-icon (click)="decreaseQuant()">arrow_drop_down</mat-icon>
                    </mat-card>
                </div>
                <mat-divider [inset]="true"></mat-divider>
                <mat-card-footer class="section">
                    <button mat-raised-button class="secondary-button"
                    (click)="removeFromCart(cartItem.product.productId)">
                        <mat-icon>clear</mat-icon>
                        Remove from Cart
                    </button>
                    <button mat-raised-button class="primary-button"
                        (click)="addToWishlist(cartItem.product.productId)">
                        <mat-icon>favorite_border</mat-icon>
                        Add to Wishlist
                    </button>
                </mat-card-footer>
            </div>
        </mat-card>
    </div>
    <div class="cart-header">
        <div class="total">Your Total : <span class="amount">₹ {{getTotal()}}</span></div>
        <button mat-raised-button class="secondary-button" routerLink="/checkout">Checkout</button>
    </div>
</div>
<app-footer></app-footer>