<ng-container *ngIf="showResults;then thenBlock;else elseBlock"></ng-container>
<ng-template #thenBlock>

</ng-template>
<ng-template  #elseBlock>
  <div class="home">
    <div class="carousel">
      <div class="carousel-cell">
        <div class="bigSliderImage">
          <img src="\assets\images\slide1.PNG" alt=" img not found">
        </div>
        <div class="bigSliderText"></div>
      </div>
      <div class="carousel-cell">
        <div class="bigSliderImage">
          <img src="\assets\images\slider2.PNG" alt=" img not found">
        </div>
        <div class="bigSliderText"></div>
      </div>
      <div class="carousel-cell">
        <div class="bigSliderImage">
          <img src="\assets\images\slider3.PNG" alt=" img not found">
        </div>
        <div class="bigSliderText"></div>
      </div>
      <div class="carousel-cell">
        <div class="bigSliderImage">
          <img src="\assets\images\poco C31.PNG" alt=" img not found">
        </div>
        <div class="bigSliderText"></div>
      </div>
      <div class="carousel-cell">
        <div class="bigSliderImage">
          <img src="\assets\images\techno spark 7t.PNG" alt=" img not found">
        </div>
        <div class="bigSliderText"></div>
      </div>
      <div class="carousel-cell">
        <div class="bigSliderImage">
          <img src="\assets\images\Redmi 9a.PNG" alt=" img not found">
        </div>
        <div class="bigSliderText"></div>
      </div>
    </div>
  
    <div *ngFor="let category of categories">
      <h2 class="category-heading">
        {{category.categoryName}}<mat-icon>keyboard_arrow_right</mat-icon>
      </h2>
      <div class="catCarousel">
          <app-productcard *ngFor="let product of category.products" class="card-div" [product]="product" cardType='card'></app-productcard>
      </div>
    </div>
  </div>
</ng-template>