* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.home {
  width: 80%;
  margin: 5rem auto;
}

.carousel {
  margin: 5rem auto;
  .carousel-cell {
    width: 100%; /* full width */
    height: 40vh; /* height of carousel */
    border-radius: 0.5rem;
    counter-increment: gallery-cell;
    text-align: center;
  }
  .bigSliderImage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* vertically center */
    img {
      border-radius: 1rem;
    }
  }
}

.bigSliderText {
  font-size: 50px;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.stars {
  margin: 2rem auto 0;
  width: 80%;
}

// category-card

.catCarousel {
  background-color: white;
  min-height: 500px;
  max-height: fit-content;
  margin: 0.5rem auto 5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.category-heading {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.cat-card {
  border-radius: 1rem;
  padding: 1rem;
  width: 30%;
  min-width: 200px;
  max-height: fit-content;
  margin: 2rem;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: scale(1.05);
  }

  .catCardTitleText {
    font-size: large;
    font-weight: bold;
    text-align: left;
  }

  .catSlideImage {
    height: 100%;
    border-radius: 2rem;
    img {
      display: block;
      width: 200px;
      height: 200px;
      margin: 0.75rem;
      border-radius: 2rem;
    }
  }

  mat-card-actions {
    margin: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .actions {
      display: flex;
      gap: 0.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .carousel {
    margin: 3rem auto;
    .carousel-cell {
      width: 100%;
      height: 20vh;
    }
    .bigSliderImage img {
      width: 100%;
    }
  }
  .cat-card {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .catSlideImage img {
    height: 200px;
  }
  .cat-card {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .home {
    width: 95%;
  }
  .carousel {
    .carousel-cell {
      width: 100%;
      height: 15vh;
    }
  }
  .cat-card {
    width: 90%;
    mat-card-actions {
      margin: 0 0.1rem;
    }
  }
  .stars {
    margin: 2rem 0.5rem 0;
  }
}
