<div class="carousel" data-flickity='{ "autoPlay": 1000,"prevNextButtons": false,
"pageDots": false}'>
  <div class="carousel-cell">
    <div class="bigSliderImage"><img src="\assets\images\slide1.PNG" alt=" img not found"></div>
    <div class="bigSliderText"></div>
  </div>
  <div class="carousel-cell">
    <div class="bigSliderImage"><img src="\assets\images\slider2.PNG" alt=" img not found"></div>
    <div class="bigSliderText"></div>
  </div>
  <div class="carousel-cell">
    <div class="bigSliderImage"><img src="\assets\images\slider3.PNG" alt=" img not found"></div>
    <div class="bigSliderText"></div>
  </div>
  <div class="carousel-cell">
    <div class="bigSliderImage"><img src="\assets\images\slide1.PNG" alt=" img not found"></div>
    <div class="bigSliderText"></div>
  </div>
  <div class="carousel-cell">
    <div class="bigSliderImage"><img src="\assets\images\slider2.PNG" alt=" img not found"></div>
    <div class="bigSliderText"></div>
  </div>
  <div class="carousel-cell">
    <div class="bigSliderImage"><img src="\assets\images\slider3.PNG" alt=" img not found"></div>
    <div class="bigSliderText"></div>
  </div>
</div>



<div class="catCarousel" data-flickity='{"draggable": false, "groupCells": 5 ,"pageDots": false}'>
  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="cat-card">
    <mat-card-header>
      <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
    </mat-card-header>
    <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
    <img src="\assets\images\dji1.jpg" alt="DJI" />
    <img src="\assets\images\dji2.jpg" alt="DJI" />
    <img src="\assets\images\dji3.jpg" alt="DJI" />
    <img src="\assets\images\dji4.jpg" alt="DJI" />
  </div>
    <!-- <mat-card-content></mat-card-content> -->
    <br>
    <div>
        <stars [stars]="stars"></stars>
    </div>
    <mat-card-actions>
        <div class="section">
            <div class="price">
                <!-- <p><span class="striked">₹ 2,20,000</span></p>
                <p><span class="deal-price">₹ 2,00,000</span></p> -->
                
            </div>
            <div class="actions">
                <mat-icon>shopping_cart</mat-icon>
                <mat-icon>favorite_border</mat-icon>
                <button mat-raised-button class="primary-button">Buy Now</button>
            </div>
        </div>
    </mat-card-actions>
  </mat-card>
</div>


<div class="catCarousel" data-flickity='{"draggable": false, "groupCells": 5 ,"pageDots": false,"lazyLoad": 4}'>
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="cat-card">
      <mat-card-header>
        <mat-card-title class="catCardTitleText">DJI Mavic 3</mat-card-title>
      </mat-card-header>
      <div class="catSlideImage" data-flickity='{ "imagesLoaded": true, "percentPosition": false ,"prevNextButtons": false}'>
      <img src="\assets\images\dji1.jpg" alt="DJI" />
      <img src="\assets\images\dji2.jpg" alt="DJI" />
      <img src="\assets\images\dji3.jpg" alt="DJI" />
      <img src="\assets\images\dji4.jpg" alt="DJI" />
    </div>
      <!-- <mat-card-content></mat-card-content> -->
      <br>
      <div>
          <stars [stars]="stars"></stars>
      </div>
      <mat-card-actions>
          <div class="section">
              <div class="price">
                  <!-- <p><span class="striked">₹ 2,20,000</span></p>
                  <p><span class="deal-price">₹ 2,00,000</span></p> -->
                  
              </div>
              <div class="actions">
                  <mat-icon>shopping_cart</mat-icon>
                  <mat-icon>favorite_border</mat-icon>
                  <button mat-raised-button class="primary-button">Buy Now</button>
              </div>
          </div>
      </mat-card-actions>
    </mat-card>
  </div>

