<div class="container">
    <mat-card>
        <mat-card-title><img src="../../../../assets/images/logo.svg" alt=""></mat-card-title><br>
        <mat-card-content>
            <form class="login-form"  action="">
                <mat-form-field  appearance = 'outline'>
                    <mat-label>Email</mat-label>
                    <input  matInput type="email">
                </mat-form-field>   
                <mat-form-field appearance = 'outline'>
                    <mat-label>Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>
                <div class="forgot-password">
                    <mat-checkbox>Remember Me</mat-checkbox>
                    <a href=""> Forgot Password?</a>
                </div>
                <button mat-raised-button class="secondary-button">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
