.wishlist-page{
    width: 80%;
  margin:5rem auto;
  .wishlist-title {
    margin: 1rem 0.5rem;
    font-weight: bolder;
  }
}
 

.card-space {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 2rem 2rem 0 0;
  
    .card-space embed {
      width: 20%;
      min-height: 200px;
      max-height: 250px;
    }
    
    .card-item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 70%;
  
      .item-title {
        font-weight: bolder;
      }
      
      .item {
        p {
          border-bottom: 1px solid #9b9b9b;
          padding: 0.5rem 0;
        }
        .item-details{
          display: flex;
          gap: 0.5rem;
  
          .todays-deal {
            color: #9b9b9b;
          }
        }
      }
    }
  }
  

.description{
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.item-button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .item-button-removewishlist{
        color:#BD2F2F;
    }

    .item-button-addtocart{
        font-size: large;
        background-color: #548CA8;
        color: white;
        border-radius: 2rem;
        padding: 0.5rem 2rem;
        margin: 0.5rem 0;
    }
}

@media screen and (max-width:768px){
    .card-space {
      .card-item {
        .item {
          .item-details{
            flex-direction: column;
          }
        }
      }
    }  
  }
  
  @media screen and (max-width:640px){
    .wishlist-page{
      width: 90%;
    }
    .card-space {
      flex-direction: column;
      padding: 0.75rem 0.75rem 0;
      .card-item {
        margin-top: 1rem;
        width: 90%;
      }
    } 
    .item-button{
      .item-button-addtocart , .item-button-removewishlist{
        padding: 0.5rem 1rem;
      }
    } 
  }