/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%; 
     width: 100%;
   
            
    }

body {
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
     position: absolute;

     background-size: cover;

    
     background-image:  url('./assets/images/background2.png');

}
/* let me doit 4 */

mat-icon{
     cursor: pointer;
}

.secondary-button {
     display: flex;
     justify-content: center;
     background-color: #282626;
     color: white;
     width: 100%;
}

.primary-button{
     background-color: #548CA8;
     color: white;
     padding: 0 1rem;
     border-radius: 2rem;
 }

.striked{
     color: gray;
     text-decoration: line-through;
 }
 
 .deal-price{
     text-decoration: none;
     color: #BD2F2F;
 }
 
 .section{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
