/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%; 
     width: 100%;
   
            
    }

body {
     position: absolute;
     background-size: cover;

    
     background-image:  url('./assets/images/background2.png');

}
/* let me doit 4 */


