<div class="container">

    <h2 class="mb-5">Angular Stripe Credit Card Payment Gateway Example</h2>

    <div class="col-md-4 mb-3">
        <button (click)="checkout(20)" class="btn btn-primary btn-block">Pay $20</button>
    </div>
    <div class="col-md-4 mb-3">
        <button (click)="checkout(30)" class="btn btn-primary btn-block">Pay $30</button>
    </div>
    <div class="col-md-4">
        <button (click)="checkout(40)" class="btn btn-primary btn-block">Pay $40</button>
    </div>
</div>