.product-page{
    width: 80%;
    margin: auto;
}

.product-details{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 3.5fr;
    justify-content: space-between;

    div mat-card{
        border-radius: 0.5rem;
    }

    mat-card{
        margin: 0.5rem;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        mat-card-subtitle{
            font-size: larger;
        }
    }

    mat-divider{
        margin: 1rem auto;
    }

    .price{
        color: gray;
    }

    .actions{
        display: flex;
        align-items: center;
        gap: 0.75rem;
        color: white;
        mat-icon{
            background-color: #282626;
            padding: 0.25rem;
            border-radius: 100%;
        }
    }
}

.faqs{
    margin: 5rem 0;
    h2{
        font-weight: bolder;
        font-size: x-large;
        margin: 1rem;
    }
    mat-expansion-panel{
        padding: 0.5rem;
        mat-panel-title{
            text-transform: capitalize;
            font-size: large;
            font-weight: bold;
        }
        p{
            margin-top: 1rem;
            font-size: large;
        }
    }
}

.reviews{
    margin: 5rem 0;
    h2{
        font-weight: bolder;
        font-size: x-large;
        margin: 1rem;
    }
    mat-card{
        margin: 0.5rem;
        padding: 1.5rem 2rem;
        border-radius: 0.75rem;
    }
    mat-card-title{
        font-size: large;
        font-weight: bolder;
    }

    mat-card-content{
        font-size: large;
    }
}

.striked{
    color: gray;
    text-decoration: line-through;
}

.deal-price{
    text-decoration: none;
    color: #BD2F2F;
}

.primary-button{
    background-color: #548CA8;
    color: white;
    padding: 0 1rem;
    border-radius: 2rem;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
