<div class="product-page">
    <div class="product-details">
        <div>
            <mat-card><embed></mat-card>
            <mat-card><embed></mat-card>
            <mat-card><embed></mat-card>
            <mat-card><embed></mat-card>
        </div>
        <mat-card>
            <embed>
        </mat-card>
        <mat-card>
            <mat-card-title>Product Description</mat-card-title>
            <mat-card-subtitle>described </mat-card-subtitle>
            <div>
                stars
            </div>
            <mat-divider [inset]='true'></mat-divider>
            <div class="section">
                <div class="price">
                    <span>Today's Deal:</span>
                    <p><span class="striked">₹ striked price</span><span class="deal-price">₹ deal price</span></p>
                </div>
                <div class="actions">
                    <mat-icon>shopping_cart</mat-icon>
                    <mat-icon>favorite_border</mat-icon>
                    <button mat-raised-button class="primary-button">Buy Now</button>
                </div>
            </div>
            <mat-divider [inset]='true'></mat-divider>
            <div>
                <h2>About Item</h2>
                <p>a very big Description</p>
            </div>
        </mat-card>
    </div>
    <div class="faqs">

    </div>
    <div class="reviews">

    </div>
</div>
