.products-page{
  width: 80%;
  margin:5rem auto;
  .products-header{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .products-title {
      margin: 1rem 0.5rem;
      font-weight: bolder;
    }
    button{
      display: flex;
     justify-content: center;
      height: fit-content;
      mat-icon{
        margin-right: 0.5rem;
      }
    }
  }
  .products-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;

  }
}
@media screen and (max-width: 1536px){
  .products-page{
    .products-grid{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (max-width: 768px){
  .products-page{
    .products-grid{
      grid-template-columns: 1fr 1fr ;
    }
  }
}

@media screen and (max-width:640px){
  .products-page{
    width: 90%;
    .products-grid{
      grid-template-columns: 1fr;
    }
  }
}