<app-navbar></app-navbar>
<div class="products-page">
    <h1 class="mat-display-1 product-title">
        Products
   </h1>
   
   <div *ngFor="let product of products">
       <mat-card class="card-space">
           <embed mat-card-xl-image src="../../../../assets/images/product.svg" alt="">
           <div class="card-item">
               <mat-card-title class="item-title">
                   <!-- {{products[0].productName}} -->
                   {{product.productName}}
               </mat-card-title>
               <mat-card-content class="item">
                   <p class="item-details">
                       <stars></stars>
                       <span class="todays-deal"> 
                           's Deal: <s>₹{{product.originalPrice}}</s>
                        </span>
                       <span class="red-text">
                           ₹{{product.discountedPrice}}
                        </span>
                   </p>
                   <p class="mat-title description">
                       {{product.description}}
                    </p>
               </mat-card-content>
               <mat-card-actions align="end" class=" item-button">
                   <mat-icon svgIcon="wishlist-icon"></mat-icon>
                   <button
                    mat-button class="item-button-addtocart"
                    (click)="addToCart(product.productId)"
                    >
                       <mat-icon>shopping_cart</mat-icon> Add to Cart
                   </button>
               </mat-card-actions>
           </div>
       </mat-card>
   </div>
</div>
<app-footer></app-footer>