<div class="products-page">
    <div class="products-header">
        <h1 class="mat-display-1 products-title">
            Products
        </h1>
        <button mat-raised-button (click)="toggleView()">
            <mat-icon *ngIf="view=='tile'">grid_view</mat-icon>
            <mat-icon *ngIf="view=='card'">view_list</mat-icon>
            <span>View</span>
        </button>
    </div>

    <div [class.products-grid]="view=='card'">
        <app-productcard *ngFor="let product of products" [product]="product" [cardType]="view"></app-productcard>
    </div>
</div>